<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div>
        <mat-card>
          <form [formGroup]="todoForm">
            <mat-form-field appearance="outline" class="matformfield">
              <mat-label>Task</mat-label>
              <input formControlName="item" matInput placeholder="Add Task Here">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Add Task Name</mat-hint>
              
            </mat-form-field>
            <button class="matformbtn" mat-raised-button [disabled]="todoForm.invalid" (click)="addTask()">Add</button> 
          </form>
        </mat-card>
      </div>

    </div>

    <div class="col-md-9">
      <div cdkDropListGroup> 
        <div class="row">
          <div class="col-md-4">
            <!--For To DO-->
            <div class="example-container">
              <h2>TO DO:</h2>
          
              <div
                cdkDropList
                [cdkDropListData]="tasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of tasks" cdkDrag>{{item.description}}
                  <div class="box">
                    <button mat-icon-button color="warn" (click)="deleteTask()"></button>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="col-md-4">
            <!--For In Progress-->
            <div class="example-container">
              <h2>IN PROGRESS</h2>
          
              <div
                cdkDropList
                [cdkDropListData]="inProgress"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of inProgress" cdkDrag>{{item.description}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!--For Done-->
            <div class="example-container">
              <h2>DONE</h2>
          
              <div
                cdkDropList
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.description}}</div>
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
