<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div>
        <mat-card>
          <form [formGroup]="todoForm">
            <mat-form-field appearance="outline" class="matformfield">
              <mat-label>Task</mat-label>
              <input formControlName="item" matInput placeholder="Add Task Here">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Add Task Name</mat-hint>
              
            </mat-form-field>
            <button class="matformbtn" mat-raised-button>Add</button>
          </form>
        </mat-card>
      </div>

    </div>

    <div class="col-md-9"></div>
  </div>
</div>
